<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @author     Nadeem Khan
 * @package    Magelumen_CheckoutCaptcha
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Magelumen_CheckoutCaptcha" setup_version="1.0.1"/>
</config>
